<!DOCTYPE html>
<nav class="navbar" th:fragment="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.holinvan.com"><img th:src="@{/resources/img/logo_min_m.png}"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<li><a th:href="@{/caravana/add}">Caravans</a></li>
        <li><a th:href="@{/listCampings}">Campings</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Log In</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Sign Up</a></li>
        <li sec:authorize="isAuthenticated()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> [[${#httpServletRequest.remoteUser}]]<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/info}">My account</a></li>
            <li><a th:href="@{/facturation-data}">Facturation</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript: document.logoutForm.submit()">LogOut</a>
            	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
           			<input type="submit" value="Sign Out"/>
        		</form>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>