<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
	<head>
  		<title>Facturation Data</title> 
  	</head>
  	<body>
		<div class="container" layout:fragment="content">
    		<div class="row">	
        		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        			<form th:action="@{/facturation-data}" method="post" th:object="${facturation_data}">
        				<h2>Facturation Data</h2>
        				<div th:if="${facturationDataResponse}" class="alert alert-dismissible" role="alert" th:classappend="${#strings.equals(facturationDataResponse.status, 'OK')} ? alert-success : alert-danger">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong th:text="#{${facturationDataResponse.messageCode}}"></strong> 
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('namef')} ? has-error">
	                		<label for="namef">Nombre/Razón Social</label>
							<input type="text" th:field="*{namef}" class="form-control" required>
							<p th:if="${#fields.hasErrors('namef')}" th:errors="*{namef}" class="error">Error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('niff')} ? has-error">
	                		<label for="namef">NIF/CIF</label>
							<input type="text" th:field="*{niff}" class="form-control" required>
							<p th:if="${#fields.hasErrors('niff')}" th:errors="*{niff}" class="error">Error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('emailf')} ? has-error">
	                		<label for="namef">Email</label>
							<input type="text" th:field="*{emailf}" class="form-control" required>
							<p th:if="${#fields.hasErrors('emailf')}" th:errors="*{emailf}" class="error">Error</p>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('addressf')} ? has-error">
	                		<label for="namef">Dirección</label>
							<input type="text" th:field="*{addressf}" class="form-control" required>
							<p th:if="${#fields.hasErrors('addressf')}" th:errors="*{addressf}" class="error">Error</p>
						</div>
                		<input type="hidden" th:field="*{id}">
						<div class="form-group buttons-line">
							<a class="btn btn-default btn-lg btn-block" th:href="@{~/holinvan-web}">Cancel</a>
							<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{formRegister.save}">Save</button>
						</div>
					</form>    
        		</div>
    		</div>
		</div>
  	</body>
</html>