<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title th:text="#{formRegister.myAccount}"></title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<form th:action="@{/info}" method="post" th:object="${userData}">
					<h2 th:text="#{formRegister.infoBasic}"></h2>
					<div th:if="${userDataResponse}" class="alert alert-dismissible"
						role="alert"
						th:classappend="${#strings.equals(userDataResponse.status, 'OK')} ? alert-success : alert-danger">
						<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong th:text="#{${userDataResponse.messageCode}}"></strong>
					</div>
					<div th:if="${#fields.hasErrors('*')}"
							class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true" th:text="#{formRegister.errorInfo}">&times;</span>
							</button>
						</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('name')} ? has-error">
						<label for="name" th:text="#{formRegister.name}"></label> <input
							type="text" th:field="*{name}" class="form-control"
							th:placeholder="#{formRegister.name}" required>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('surname')} ? has-error">
						<label for="surname" th:text="#{formRegister.surname}">></label> <input
							type="text" th:field="*{surname}" class="form-control"
							th:placeholder="#{formRegister.surname}" required>
						<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label for="username" th:text="#{formRegister.email}"></label> <input
							type="email" th:field="*{email}" class="form-control"
							th:placeholder="#{formRegister.email}">
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('genre')} ? has-error">
						<label for="genre" th:text="#{formRegister.sex}"></label> <select
							th:field="*{genre}" class="form-control">
							<option value="0" th:text="#{formRegister.optionMale}"></option>
							<option value="1" th:text="#{formRegister.optionFemale}"></option>
						</select>
						<p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('birthDate')} ? has-error">
						<label for="birthDate" th:text="#{formRegister.birthDate}"></label>
						<input type="date" th:field="*{birthDate}" class="form-control"
							required>
						<p th:if="${#fields.hasErrors('birthDate')}"
							th:errors="*{birthDate}" class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('telephone')} ? has-error">
						<label for="idTelephone" th:text="#{formRegister.phone}"
							class="telephone-input"></label> <select
							th:field="*{idTelephone}" class="form-control telephone-input">
							<option value="34" th:text="#{formRegister.idTel.Spain}"></option>
							<option value="33" th:text="#{formRegister.idTel.France}"></option>
							<option value="39" th:text="#{formRegister.idTel.Italy}"></option>
							<option value="46" th:text="#{formRegister.idTel.Sweden}"></option>
							<option value="32" th:text="#{formRegister.idTel.Belgium}"></option>
							<option value="45" th:text="#{formRegister.idTel.Denmark}"></option>
							<option value="7" th:text="#{formRegister.idTel.Russia}"></option>
							<option value="49" th:text="#{formRegister.idTel.Germany}"></option>
							<option value="351" th:text="#{formRegister.idTel.Portugal}"></option>
							<option value="48" th:text="#{formRegister.idTel.Poland}"></option>
							<option value="48" th:text="#{formBilling.country.PolandC}"></option>
						</select> <input type="text" th:field="*{telephone}"
							class="form-control telephone-input" required>
						<p th:if="${#fields.hasErrors('idTelephone')}"
							th:errors="*{idTelephone}" class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('address')} ? has-error">
						<label for="address" th:text="#{formRegister.address}"></label> <input
							type="text" th:field="*{address}" class="form-control"
							th:placeholder="#{formRegister.address}" required>
						<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('country')} ? has-error">
						<label for="country" th:text="#{formRegister.country}"></label> <select
							id="country" th:field="*{country}" class="form-control">
							<option value="Spain" th:text="#{formRegister.country.Spain}"></option>
							<option value="France" th:text="#{formRegister.country.France}"></option>
							<option value="Italy" th:text="#{formRegister.country.Italy}"></option>
							<option value="Sweden" th:text="#{formRegister.country.Sweden}"></option>
							<option value="Belgium" th:text="#{formRegister.country.Belgium}"></option>
							<option value="Denmark" th:text="#{formRegister.country.Denmark}"></option>
							<option value="Russia" th:text="#{formRegister.country.Russia}"></option>
							<option value="Germany" th:text="#{formRegister.country.Germany}"></option>
							<option value="Portugal"
								th:text="#{formRegister.country.Portugal}"></option>
							<option value="Poland" th:text="#{formRegister.country.Poland}"></option>
						</select>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('cp')} ? has-error">
						<label for="cp" th:text="#{formRegister.postalCode}"></label> <input
							type="text" th:field="*{cp}" class="form-control"
							th:placeholder="#{formRegister.postalCode}" required>
						<p th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('city')} ? has-error">
						<label for="city" th:text="#{formRegister.city}"></label> <input
							type="text" th:field="*{city}" class="form-control"
							th:placeholder="#{formRegister.city}" required>
						<p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
							class="error">Error</p>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nif')} ? has-error">
						<label for="nif" th:text="#{formRegister.nif}"></label> <input
							type="text" th:field="*{nif}" class="form-control"
							th:placeholder="#{formRegister.nif}" required>
						<p th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"
							class="error">Error</p>
					</div>
					<input type="hidden" th:field="*{id}">
					<div class="form-group buttons-line">
						<a class="btn btn-default btn-lg btn-block"
							th:href="@{~/holinvan-web}" th:text="#{formRegister.cancelBtn}"></a>
						<button class="btn btn-lg btn-primary btn-block" type="submit"
							th:text="#{formRegister.save}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>