<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/simple}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<meta charset="UTF-8">
<title>Correcto</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="header-publish-caravan">
			<a th:href="@{~/holinvan-web}"> <img class="logo-desktop"
				th:src="@{/resources/img/logo_min_m.png}"> <img
				class="logo-mobile" th:src="@{/resources/img/isotipo_min.png}">
			</a>
			<h4 class="title-progress">PUBLISH YOUR CARAVAN</h4>
		</div>
		<div class="row">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="7,14"
					aria-valuemin="100" aria-valuemax="100" style="width: 7,14%;">
					<span class="sr-only"></span>
				</div>
			</div>
			<table class="table table-hover table-responsive">
				<tr>
					<th>ID</th>
					<th>MARCA</th>
					<th>MODELO</th>
					<th>ADULTOS</th>
					<th>NIÑOS</th>
					<th>BEBÉS</th>
					<th>NOMBRE</th>
					<th>DESCRIPCIÓN</th>
					<th>FECHAS DE DISPONIBILIDAD</th>
					<th>PRECIOS POR FECHA</th>
				</tr>
				<tr th:each="caravan:${caravanList}">
					<td th:text="${caravan.id}"></td>
					<td th:text="${caravan.brand}"></td>
					<td th:text="${caravan.model}"></td>
					<td th:text="${caravan.adults}"></td>
					<td th:text="${caravan.kids}"></td>
					<td th:text="${caravan.babys}"></td>
					<td th:text="${caravan.name}"></td>
					<td th:text="${caravan.description}"></td>
					<td><a th:href="@{calendar/{id}(id=${caravan.id})}">CALENDARIO</a></td>
					<td><a th:href="@{price/{id}(id=${caravan.id})}">PRECIOS</a></td>
					
				</tr>

			</table>



		</div>



	</div>




</body>
</html>